{% if theme == 'dark' %}
<html class = "theme-dark">
{% else %}
<html class = "theme-light">
{% endif %}

<head>
	<link
	  rel="stylesheet"
	  href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css"
	>
	<link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css">
	<title>Leaderboards - Slapping Salamanders</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='sallie_cartoon_img.png') }}">
	<style>
	:root {
		--ss-light-blue-1: #4EC8E9;
		--ss-light-blue-2: #00B5E2;
		--ss-light-blue-3: #2FACCF;
		
		--ss-light-orange-1: #EC944D;
		--ss-light-orange-2: #F0822E;
		--ss-light-orange-3: #DA863E;
		
		--ss-dark-blue-1: #004B60;
		--ss-dark-blue-2: #05647F;
		--ss-dark-blue-3: #106D87;
		
		--ss-dark-orange-1: #913F00;
		--ss-dark-orange-2: #AA4900;
		--ss-dark-orange-3: #BB5400;
		
		{% if theme == 'dark' %}
		--ss-blue-1: var(--ss-dark-blue-1);
		--ss-blue-2: var(--ss-dark-blue-2);
		--ss-blue-3: var(--ss-dark-blue-3);
		
		--ss-orange-1: var(--ss-dark-orange-1);
		--ss-orange-2: var(--ss-dark-orange-2);
		--ss-orange-3: var(--ss-dark-orange-3);
		
		--ss-theme: dark;
		{% else %}
		--ss-blue-1: var(--ss-light-blue-1);
		--ss-blue-2: var(--ss-light-blue-2);
		--ss-blue-3: var(--ss-light-blue-3);
		
		--ss-orange-1: var(--ss-light-orange-1);
		--ss-orange-2: var(--ss-light-orange-2);
		--ss-orange-3: var(--ss-light-orange-3);
		
		--ss-theme: light;
		{% endif %}
	}
	
	.table td, .table th {
		border: none;
	}
	</style>
	<script>
	
	var r = document.querySelector(':root');
	
	function getCSSVar(varName) {
		var rs = getComputedStyle(r);
		return rs.getPropertyValue(varName);
	}
	
	function getTheme() {
		return getCSSVar('--ss-theme');
	}
	
	function setThemeCookie() {
		var currTheme = getTheme();
		
		fetch('./cookies/theme', {
			method: 'POST',
			body: currTheme
		}).then(response => {
			// Handle the response
		   if (!response.ok) {
			   throw new Error('Network response was not ok');
		   }
		   return response.json(); // Parse the response as JSON
		}).then(data => {
			console.log(data);
			console.log("theme set");
		});
	}
	
	function changeTheme() {
		var currTheme = getTheme();
		var rs = getComputedStyle(r);
		
		if (currTheme === "light") {
			r.style.setProperty('--ss-blue-1', getCSSVar('--ss-dark-blue-1'));
			r.style.setProperty('--ss-blue-2', getCSSVar('--ss-dark-blue-2'));
			r.style.setProperty('--ss-blue-3', getCSSVar('--ss-dark-blue-3'));
			
			r.style.setProperty('--ss-orange-1', getCSSVar('--ss-dark-orange-1'));
			r.style.setProperty('--ss-orange-2', getCSSVar('--ss-dark-orange-2'));
			r.style.setProperty('--ss-orange-3', getCSSVar('--ss-dark-orange-3'));
			
			r.style.setProperty('--ss-theme', 'dark');
		}
		else if (currTheme === "dark") {
			r.style.setProperty('--ss-blue-1', getCSSVar('--ss-light-blue-1'));
			r.style.setProperty('--ss-blue-2', getCSSVar('--ss-light-blue-2'));
			r.style.setProperty('--ss-blue-3', getCSSVar('--ss-light-blue-3'));
			
			r.style.setProperty('--ss-orange-1', getCSSVar('--ss-light-orange-1'));
			r.style.setProperty('--ss-orange-2', getCSSVar('--ss-light-orange-2'));
			r.style.setProperty('--ss-orange-3', getCSSVar('--ss-light-orange-3'));
			
			r.style.setProperty('--ss-theme', 'light');
		}
		
		setThemeCookie();
		return;
	}
	
	function syncBulmaTheme() {
		var currTheme = getTheme();
		var rootHtmlElem = document.documentElement;
		
		if (currTheme === "dark") {
			if (rootHtmlElem.classList.contains('theme-light')) {
				rootHtmlElem.classList.remove('theme-light');
				rootHtmlElem.classList.add('theme-dark');
			}
		}
		else if (currTheme === "light") {
			if (rootHtmlElem.classList.contains('theme-dark')) {
				rootHtmlElem.classList.add('theme-light');
				rootHtmlElem.classList.remove('theme-dark');
			}
		}
	}
	
	syncBulmaTheme();
	</script>
</head>

<body>

<div class = "hero is-medium" style = "background-color: var(--ss-blue-1);">
	<div class = "hero head">
		<nav class = "navbar">
			<div class = "container">
				<div class="navbar-brand">
				  <a class="navbar-item" href = "./home">
					<img src = "{{ url_for('static', filename='server_pfp.png') }}" alt = "Logo" class = "image" />
				  </a>
				  <span id = "navBurger" role = "button" class="navbar-burger" data-target="navbarMenu">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				  </span>
				</div>
				
				<div id = "navbarMenu" class = "navbar-menu">
					<div class = "navbar-start">
						<br/>
						<a class = "navbar-item" href = "./home"> Home </a>
						<a class = "navbar-item" href = "./info"> Info </a>
						<a class = "navbar-item" href = "./rules"> Rules </a>
						<a class = "navbar-item" href = "./sallie_status"> Sallie Bot Status </a>
						<a class = "navbar-item" href = "./leaderboard"> Leaderboards </a>
					</div>
					
					<div class = "navbar-end">
						{% if login_info['logged_in?'] == 'no' %}
						<span class = "navbar-item"><a class = "button" style = "background-color: var(--ss-orange-1);" href = "./login">Login</a></span>
						<span class = "navbar-item"><a class = "button" style = "background-color: var(--ss-orange-1);" href = "./register">Register</a></span>
						{% endif %}
						<span class = "navbar-item">
							<span class = "button" style = "background-color: var(--ss-orange-1);" id = "modeToggle">
								<span class = "icon">
									<i class = "fas fa-moon" id = "modeIcon"></i>
								</span>
							</span>
						</span>
						{% if login_info['logged_in?'] == 'yes' %}
						<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link">
							<figure class="image is-32x32 m-3">
								<img class="is-rounded" src="{{ login_info['avatar'] }}">
							</figure>
							<span>{{ login_info['username'] }}</span>
						</a>

						<div class="navbar-dropdown is-right">
							<a class="navbar-item">
								Profile
							</a>
							<hr class="navbar-divider">
							<a id = "logout_button" class="navbar-item">
								Logout
							</a>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
		</nav>
	</div>
	
	<div class = "hero-body">
		<div class = "container">
			<p class = "title" style = "color: white;"> Leaderboards </p>
			<br/>
			<br/>
			<p class = "subtitle" style = "color: white;">
				This page links to all the leaderboards that exist for the discord server and/or the website. This is a one stop solution to whichever leaderboard you might wanna access! You can also get information about and/or read about the various things that get counted and/or that have a leaderboard dedicated to them. There is information provided in separate sections for every leaderboard available on this page!
			</p>
		</div>
	</div>
	
	<div class = "hero-foot">
	</div>
</div>

<script>
{% if login_info['logged_in?'] == 'yes' %}
//script for logging out
logout_button = document.getElementById('logout_button');
logout_button.addEventListener('click', () => {
	fetch('{{ url_for("logout") }}', {
		method: 'POST',
		body: 'initiate_logout'
	}).then(response => {
		// Handle the response
		if (!response.ok) {
			throw new Error('Network response was not ok');
		}
		return response.json(); // Parse the response as JSON
	}).then(data => {
		console.log(data);
		if (data['status'] === "success") {
			alert('You have been logged out successfully!');
			window.location.reload();
		}
		else if (data['status'] === "failure") {
			alert('Could not log you out successfully! Please try again!');
		}
	});
});
{% endif %}
//script for mobile phone users to toggle the nav menu when they click on the navbar burger.
const navBurger = document.getElementById('navBurger');
const navMenu = document.getElementById(navBurger.dataset.target);

navBurger.addEventListener('click', () => {
	navBurger.classList.toggle('is-active');
	navMenu.classList.toggle('is-active');
});

// Script for mode toggle button. Needs to be placed here because it cannot be placed above where the mode toggle has been defined.
const modeToggle = document.getElementById('modeToggle');
const modeIcon = document.getElementById('modeIcon');

function updateToggleIcon() {
	const currTheme = getTheme();
	
	if (currTheme === "light") {
		modeIcon.classList.remove('fa-sun');
		modeIcon.classList.add('fa-moon');
	}
	else if (currTheme === "dark") {
		modeIcon.classList.remove('fa-moon');
		modeIcon.classList.add('fa-sun');
	}
	return;
}

modeToggle.addEventListener('click', () => {
	changeTheme();
	syncBulmaTheme();
	updateToggleIcon();
});

updateToggleIcon();
</script>

<div style = "background-color: var(--ss-orange-1);">

<br/>
<br/>
<br/>
<br/>

<section class = "section">
	<center>
	<div class = "column is-three-quarters">
	<div class = "box" style = "background-color: var(--ss-orange-2);">
		<div class = "container has-text-centered">
			<p class = "title is-4">
				Bump Leaderboard
			</p>
			
			<br/>
			
			<p class = "subtitle is-justified">
				People can bump our discord server every 2 hours. Bumping the server can be done using the <code>/bump</code> command. Bumping pushes the server to the top of the disboard list and thus enables us to be seen by potential members who are looking for friends! By clicking on the button below you can look at the leaderboard for bumps, it has a count of how many bumps every member has ever executed on the server ✨!
			</p>
			
			<br/>
			
			<span>
				<a class = "button" style = "background-color: var(--ss-blue-1);" href = "./leaderboard/bump" target = "_blank">
					<span class = "icon">
						<i class = "fa-solid fa-angles-up"></i>
					</span>
					<span>Go to Bump Leaderboard</span>
				</a>
			</span>
		</div>
	</div>
	</div>
	</center>
</section>

<br/>

<section class = "section">
	<center>
	<div class = "column is-three-quarters">
	<div class = "box" style = "background-color: var(--ss-orange-2);">
		<div class = "container has-text-centered">
			<p class = "title is-4">
				Slap Leaderboard
			</p>
			
			<br/>
			
			<p class = "subtitle is-justified">
				The Slapping Salamanders discord server and community is all about slapping! You can slap and gently pet our cute pet sallie by using the <code>$$slap</code> command on discord, every slap gets registered and counted, based on the slaps a leaderboard is maintained that mentions who has slapped sallie how many times! Do you have what it takes to be a master slapper? You better find out by checking the leaderboards out! You can access them by pressing the button down below!
			</p>
			
			<br/>
			
			<span>
				<a class = "button" style = "background-color: var(--ss-blue-1);" href = "./leaderboard/slap" target = "_blank">
					<span class = "icon">
						<i class = "fa-solid fa-hands-clapping"></i>
					</span>
					<span>Go to Slap Leaderboard</span>
				</a>
			</span>
		</div>
	</div>
	</div>
	</center>
</section>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

</div>

<footer class = "footer" style = "background-color: var(--ss-blue-1);">
	<div class = "content has-text-centered">
		© Copyright 2024. All rights reserved. <strong>Sallie</strong> & The <strong>Slapping Salamanders</strong> discord server have been made by and are owned by typedecker. Any attempt to copy the work without permission shall be dealt with strictly.
	</div>
</footer>
</div>

</body>
</html>