{% if theme == 'dark' %}
<html class = "theme-dark">
{% else %}
<html class = "theme-light">
{% endif %}

<head>
	<link
	  rel="stylesheet"
	  href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css"
	>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<title>Registration - Slapping Salamanders</title>
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='sallie_cartoon_img.png') }}">
	<style>
	:root {
		--ss-light-blue-1: #4EC8E9;
		--ss-light-blue-2: #00B5E2;
		--ss-light-blue-3: #2FACCF;
		
		--ss-light-orange-1: #EC944D;
		--ss-light-orange-2: #F0822E;
		--ss-light-orange-3: #DA863E;
		
		--ss-dark-blue-1: #004B60;
		--ss-dark-blue-2: #05647F;
		--ss-dark-blue-3: #106D87;
		
		--ss-dark-orange-1: #913F00;
		--ss-dark-orange-2: #AA4900;
		--ss-dark-orange-3: #BB5400;
		
		{% if theme == 'dark' %}
		--ss-blue-1: var(--ss-dark-blue-1);
		--ss-blue-2: var(--ss-dark-blue-2);
		--ss-blue-3: var(--ss-dark-blue-3);
		
		--ss-orange-1: var(--ss-dark-orange-1);
		--ss-orange-2: var(--ss-dark-orange-2);
		--ss-orange-3: var(--ss-dark-orange-3);
		
		--ss-theme: dark;
		{% else %}
		--ss-blue-1: var(--ss-light-blue-1);
		--ss-blue-2: var(--ss-light-blue-2);
		--ss-blue-3: var(--ss-light-blue-3);
		
		--ss-orange-1: var(--ss-light-orange-1);
		--ss-orange-2: var(--ss-light-orange-2);
		--ss-orange-3: var(--ss-light-orange-3);
		
		--ss-theme: light;
		{% endif %}
	}
	
	.table td, .table th {
		border: none;
	}
	</style>
	<script>
	
	var r = document.querySelector(':root');
	
	function getCSSVar(varName) {
		var rs = getComputedStyle(r);
		return rs.getPropertyValue(varName);
	}
	
	function getTheme() {
		return getCSSVar('--ss-theme');
	}
	
	function setThemeCookie() {
		var currTheme = getTheme();
		
		fetch('./cookies/theme', {
			method: 'POST',
			body: currTheme
		}).then(response => {
			// Handle the response
		   if (!response.ok) {
			   throw new Error('Network response was not ok');
		   }
		   return response.json(); // Parse the response as JSON
		}).then(data => {
			console.log(data);
			console.log("theme set");
		});
	}
	
	function changeTheme() {
		var currTheme = getTheme();
		var rs = getComputedStyle(r);
		
		if (currTheme === "light") {
			r.style.setProperty('--ss-blue-1', getCSSVar('--ss-dark-blue-1'));
			r.style.setProperty('--ss-blue-2', getCSSVar('--ss-dark-blue-2'));
			r.style.setProperty('--ss-blue-3', getCSSVar('--ss-dark-blue-3'));
			
			r.style.setProperty('--ss-orange-1', getCSSVar('--ss-dark-orange-1'));
			r.style.setProperty('--ss-orange-2', getCSSVar('--ss-dark-orange-2'));
			r.style.setProperty('--ss-orange-3', getCSSVar('--ss-dark-orange-3'));
			
			r.style.setProperty('--ss-theme', 'dark');
		}
		else if (currTheme === "dark") {
			r.style.setProperty('--ss-blue-1', getCSSVar('--ss-light-blue-1'));
			r.style.setProperty('--ss-blue-2', getCSSVar('--ss-light-blue-2'));
			r.style.setProperty('--ss-blue-3', getCSSVar('--ss-light-blue-3'));
			
			r.style.setProperty('--ss-orange-1', getCSSVar('--ss-light-orange-1'));
			r.style.setProperty('--ss-orange-2', getCSSVar('--ss-light-orange-2'));
			r.style.setProperty('--ss-orange-3', getCSSVar('--ss-light-orange-3'));
			
			r.style.setProperty('--ss-theme', 'light');
		}
		
		setThemeCookie();
		return;
	}
	
	function syncBulmaTheme() {
		var currTheme = getTheme();
		var rootHtmlElem = document.documentElement;
		
		if (currTheme === "dark") {
			if (rootHtmlElem.classList.contains('theme-light')) {
				rootHtmlElem.classList.remove('theme-light');
				rootHtmlElem.classList.add('theme-dark');
			}
		}
		else if (currTheme === "light") {
			if (rootHtmlElem.classList.contains('theme-dark')) {
				rootHtmlElem.classList.add('theme-light');
				rootHtmlElem.classList.remove('theme-dark');
			}
		}
	}
	
	syncBulmaTheme();
	</script>
</head>

<body>

<div class = "hero is-small" style = "background-color: var(--ss-blue-1);">
	<div class = "hero head">
		<nav class = "navbar">
			<div class = "container">
				<div class="navbar-brand">
				  <a class="navbar-item" href = "./home">
					<img src = "{{ url_for('static', filename='server_pfp.png') }}" alt = "Logo" class = "image" />
				  </a>
				  <span id = "navBurger" role = "button" class="navbar-burger" data-target="navbarMenu">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				  </span>
				</div>
				
				<div id = "navbarMenu" class = "navbar-menu">
					<div class = "navbar-start">
						<br/>
						<a class = "navbar-item" href = "./home"> Home </a>
						<a class = "navbar-item" href = "./info"> Info </a>
						<a class = "navbar-item" href = "./rules"> Rules </a>
						<a class = "navbar-item" href = "./sallie_status"> Sallie Bot Status </a>
						<a class = "navbar-item" href = "./leaderboard"> Leaderboards </a>
					</div>
					
					<div class = "navbar-end">
						<span class = "navbar-item"><a class = "button" style = "background-color: var(--ss-orange-1);" href = "./login">Login</a></span>
						<span class = "navbar-item"><a class = "button" style = "background-color: var(--ss-orange-1);" href = "./register">Register</a></span>
						<span class = "navbar-item">
							<span class = "button" style = "background-color: var(--ss-orange-1);" id = "modeToggle">
								<span class = "icon">
									<i class = "fas fa-moon" id = "modeIcon"></i>
								</span>
							</span>
						</span>
					</div>
				</div>
			</div>
		</nav>
	</div>
	
	<div class = "hero-body">
		<div class = "container has-text-centered">
			<br/>
			<p class = "title" style = "color: white;"> Registration </p>
		</div>
	</div>
	
	<div class = "hero-foot">
	</div>
</div>

<script>
//script for mobile phone users to toggle the nav menu when they click on the navbar burger.
const navBurger = document.getElementById('navBurger');
const navMenu = document.getElementById(navBurger.dataset.target);

navBurger.addEventListener('click', () => {
	navBurger.classList.toggle('is-active');
	navMenu.classList.toggle('is-active');
});

// Script for mode toggle button. Needs to be placed here because it cannot be placed above where the mode toggle has been defined.
const modeToggle = document.getElementById('modeToggle');
const modeIcon = document.getElementById('modeIcon');

function updateToggleIcon() {
	const currTheme = getTheme();
	
	if (currTheme === "light") {
		modeIcon.classList.remove('fa-sun');
		modeIcon.classList.add('fa-moon');
	}
	else if (currTheme === "dark") {
		modeIcon.classList.remove('fa-moon');
		modeIcon.classList.add('fa-sun');
	}
	return;
}

modeToggle.addEventListener('click', () => {
	changeTheme();
	syncBulmaTheme();
	updateToggleIcon();
});

updateToggleIcon();
</script>

<div style = "background-color: var(--ss-orange-1);">

<section class = "section is-small">
	<br/>
	<center>
	<div class = "column is-two-thirds">
	<div class = "box pl-6 has-text-left" style = "background-color: var(--ss-orange-2);">
		<div class = "container">
			<ul style = "list-style-type: disc;">
				<li class = "has-text-left">
					This page enables server members to register on the website with a username and password for ease of logging in, you can login with your discord ID even if you do not wish to register. Registration is optional and allows you to have a username and password instead of a complex long discord ID to remember.
				</li>
				<li class = "has-text-left">
					To register, type your discord ID for the account in the server, along with a username and a password for your website account, then click on the submit button, if your account is in the server, you'll be DMed a secret key/OTP(One Time Password) that you'd be asked for in the page that opens up, after you type the OTP in and submit, you'll be registered and can login with just your username and password from the next time onwards!
				</li>
			</ul>
		</div>
		<br/>
		<center>
		<div class = "column is-half">
		<div class = "container has-text-left">
			<div class = "field">
				<label class = "label">Discord ID:</label>
				<div class = "control has-icons-left">
					<input id = "register_discord_id_inp" class = "input" type = "text" placeholder = "Discord ID">
					<span class = "icon is-large is-left">
						<i class = "fab fa-discord"></i>
					</span>
				</div>
				<p id = "reg_dc_id_hint" class = "help"></p>
			</div>
			
			<div class = "field">
				<label class = "label">Username:</label>
				<div class = "control has-icons-left">
					<input id = "register_username_inp" class = "input" type = "text" placeholder = "Username">
					<span class = "icon is-large is-left">
						<i class = "fas fa-user"></i>
					</span>
				</div>
				<p id = "reg_username_hint" class = "help"></p>
			</div>
			
			<div class = "field">
				<label class = "label">Password:</label>
				<div class = "control has-icons-left">
					<input id = "register_pwd_inp" class = "input" type = "password" placeholder = "Password">
					<span class = "icon is-large is-left">
						<i class = "fas fa-key"></i>
					</span>
				</div>
				<p id = "reg_password_hint" class = "help"></p>
			</div>
			
			<center>
			<div class = "field">
				<div class = "control">
					<button id = "register_button" class = "button" style = "background-color: var(--ss-blue-2); color: white;">Register</button>
				</div>
			</div>
			</center>
		</div>
		</div>
		</center>
	</div>
	</div>
	</center>
	<br/>
</section>

<script>
reg_discord_id_inp = document.getElementById('register_discord_id_inp');
reg_username_inp = document.getElementById('register_username_inp');
reg_pwd_inp = document.getElementById('register_pwd_inp');
reg_button = document.getElementById('register_button');

reg_dc_id_hint = document.getElementById('reg_dc_id_hint');
reg_username_hint = document.getElementById('reg_username_hint');
reg_password_hint = document.getElementById('reg_password_hint');

//Script/Code for discord ID validity checks
reg_discord_id_inp.addEventListener('input', () => {
	fetch("{{ url_for('discord_id_validity_check') }}", {
		'method': 'POST',
		'body': reg_discord_id_inp.value.toString()
	}).then(response => {
		// Handle the response
		if (!response.ok) {
			throw new Error('Network response was not ok');
		}
		return response.json(); // Parse the response as JSON
	}).then(data => {
		console.log(data);
		if (data['availability'] === 'available') {
			reg_discord_id_inp.classList.add('is-link');
			reg_dc_id_hint.classList.add('is-link');
			
			if (reg_discord_id_inp.classList.contains('is-danger')) {
				reg_discord_id_inp.classList.remove('is-danger');
				reg_dc_id_hint.classList.remove('is-danger');
			}
			
			reg_dc_id_hint.innerText = 'Discord ID is available for registration';
		}
		else if (data['availability'] === 'unavailable') {
			reg_discord_id_inp.classList.add('is-danger');
			reg_dc_id_hint.classList.add('is-danger');
			
			if (reg_discord_id_inp.classList.contains('is-link')) {
				reg_discord_id_inp.classList.remove('is-link');
				reg_dc_id_hint.classList.remove('is-link');
			}
			
			reg_dc_id_hint.innerText = 'Account with this Discord ID already exists';
		}
	});
});

//Script/Code for username validity checks
reg_username_inp.addEventListener('input', () => {
	fetch("{{ url_for('username_validity_check') }}", {
		'method': 'POST',
		'body': reg_username_inp.value.toString()
	}).then(response => {
		// Handle the response
		if (!response.ok) {
			throw new Error('Network response was not ok');
		}
		return response.json(); // Parse the response as JSON
	}).then(data => {
		console.log(data);
		if (data['availability'] === 'available') {
			reg_username_inp.classList.add('is-success');
			reg_username_hint.classList.add('is-success');
			
			if (reg_username_inp.classList.contains('is-danger')) {
				reg_username_inp.classList.remove('is-danger');
				reg_username_hint.classList.remove('is-danger');
			}
			
			reg_username_hint.innerText = 'Username is available';
		}
		else if (data['availability'] === 'unavailable') {
			reg_username_inp.classList.add('is-danger');
			reg_username_hint.classList.add('is-danger');
			
			if (reg_username_inp.classList.contains('is-success')) {
				reg_username_inp.classList.remove('is-success');
				reg_username_hint.classList.remove('is-success');
			}
			
			reg_username_hint.innerText = 'Username is not available';
		}
	});
});

// Script/Code for Registration
reg_button.addEventListener('click', () => {
	if (reg_discord_id_inp.value.replace(/\s+/g,"") === '') {
		reg_discord_id_inp.classList.add('is-danger');
		reg_dc_id_hint.classList.add('is-danger');
		
		if (reg_username_inp.classList.contains('is-link')) {
			reg_discord_id_inp.classList.remove('is-link');
			reg_dc_id_hint.classList.remove('is-link');
		}
		
		reg_dc_id_hint.innerText = 'Discord ID Field cannot be empty!';
		return;
	}
	
	if (reg_username_inp.value.replace(/\s+/g,"") === '') {
		reg_username_inp.classList.add('is-danger');
		reg_username_hint.classList.add('is-danger');
		
		if (reg_username_inp.classList.contains('is-success')) {
			reg_username_inp.classList.remove('is-success');
			reg_username_hint.classList.remove('is-success');
		}
		
		reg_username_hint.innerText = 'Username field can not be empty!';
		return;
	}
	
	if (reg_pwd_inp.value.replace(/\s+/g,"") === '') {
		reg_pwd_inp.classList.add('is-danger');
		reg_password_hint.classList.add('is-danger');
		
		if (reg_username_inp.classList.contains('is-success')) {
			reg_pwd_inp.classList.remove('is-success');
			reg_password_hint.classList.remove('is-success');
		}
		
		reg_password_hint.innerText = 'Password field can not be empty!';
		return;
	}
	
	fetch("{{ url_for('registration_info_upload') }}", {
		'method': 'POST',
		'headers': {
			'Content-Type': 'application/json'
		},
		'body': JSON.stringify({
			'discord_id': reg_discord_id_inp.value,
			'username': reg_username_inp.value,
			'password': reg_pwd_inp.value
		})
	}).then(response => {
		// Handle the response
		if (!response.ok) {
			throw new Error('Network response was not ok');
		}
		return response.json(); // Parse the response as JSON
	}).then(data => {
		console.log(data);
		if (data['status'] === 'success') {
			window.location.href = "./register/otp/" + reg_discord_id_inp.value.toString();
		}
		else if (data['status'] === 'failure') {
			alert('Registration failed!');
			window.location.reload();
		}
	});
});
</script>

<br/>
<br/>
<br/>

</div>

<footer class = "footer" style = "background-color: var(--ss-blue-1);">
	<div class = "content has-text-centered">
		© Copyright 2024. All rights reserved. <strong>Sallie</strong> & The <strong>Slapping Salamanders</strong> discord server have been made by and are owned by typedecker. Any attempt to copy the work without permission shall be dealt with strictly.
	</div>
</footer>
</div>

</body>
</html>